<p id="notice"><%= notice %></p>

<% if flash[:message] %>
  <div class="center alert">
    <h3><%= flash[:message] %></h3>
  </div>
<% end %>

<p><strong>Name:</strong> <%= @artist.name %></p>
<p><strong>Hometown:</strong> <%= @artist.hometown %></p>
<p><strong>Username:</strong>  <%= @artist.username %></p>
<p><%= link_to 'Edit Profile', edit_artist_path(@artist.id) %></p>
<p><%= link_to 'See Masterpieces', artist_pieces_path(@artist.id) %></p>
<p><%= link_to 'See Museums', museums_path %></p><br><br>

<% @artist.museums.each do |museum| %>
  <%= render partial: 'museums/museum', locals: {museum: museum} %>
<% end %>