<h1>Your Masterpieces</h1>
<% artist = Artist.find_by_id(params[:artist_id]) %>
<% artist.pieces.each do |piece| %>
    <%=piece.name%><br>
    <%=piece.year_created%><br>
    <img src="<%= piece.image %>" class="img-thumbnail" width="200" height="200" alt="<%= piece.image_description %>"><br>
    <%= piece.image_description %><br>
<%end%>
<h4>Submit a new Piece to a Museum or Gallery:</h4>
  <%= link_to 'New Submission', museums_path %>