<%= render partial: 'museum', locals: {museum: @museum} %>
    
    <% if @museum.open_status == true %>
        <%= form_for @piece, url: museum_pieces_path(@museum.id) do |f| %>
            <%= f.hidden_field :artist_id %><br />
            <%= f.hidden_field :museum_id %><br />
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.label :year_created %>
            <%= f.text_field :year_created %>
            <%= f.label :image_url %>
            <%= f.text_field :image %>
            <%= f.label :image_description %>
            <%= f.text_field :image_description %>
            <%= f.submit "Submit a new Piece to this Museum", class:"btn btn-light" %>
        <% end %>
    <% end %>

    
        <% @museum.pieces.each do |piece| %>
            <% if piece.id %>
                <h4><%= piece.name %> - <%= piece.year_created %></h4>

                <% if piece.image %>
                    <img src="<%= piece.image %>" class="img-thumbnail" width="200" height="200" alt="<%= piece.image_description %>">
                <% end %>
                <p> created by <%= piece.artist.name %></p><br><br>
                <% if piece.artist_id == current_user.id %>
                    <%= link_to "Edit This Piece", edit_piece_path(piece) %>
                <% end %>
            <% end %>
        <% end %>